#map-canvas{
	width: 900px;
	height: 600px;
	background-color:chartreuse;
	position: absolute;
}



.dropDown {
	background-color: rgba(0, 85, 255, 0.5);
	border-style: solid;
	border-width: 1px;
	height: 26px;
	width: 155px;
	font-size: 1.3em;
	padding-left:2px;
	list-style-type: none;
	z-index: 9999;
	cursor:pointer;
	color: rgb(240, 240, 235);
}

.dropDown a{
	display: block;
	width: 100%;
}

.listItems {

	position: absolute;
	margin-left:-40px;
	z-index: 9999;
}